body{
  font-family: "Montserrat";
}

h1{
  font-size: 2rem;
}

h5{
  font-size: 1.2rem;
  line-height: 1.5;
}

p{
line-height: 1;
color: grey;
}

li{
  margin: 0 20px;
  line-height: 1;
}

.navfont{
padding: 0 1%;
font-size: 2rem;
font-family: 'Patua One', cursive;
}

.car-image{
width: 100%;
}

.panel{
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 100px;
  border-radius: 1%;
  box-shadow: 0 0 5px grey;
  color: black;

}

.right-panel{
  width: 40%;
  height: 40%;
  font-size: 1rem;
}

.left-panel{
  height: 40%;
  width: 40%;
}

.Enroll-btn{
  position: relative;
  left: auto;
  margin-bottom: 20px;
}


/* Review Section */
#review-panel{
  background-color: #C2B8A3;
}

.test-images{
  margin: 3% 3% 3% 10%;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  float: left;
}

.rev-paragraph{
 font-size: 2rem;
 padding: 5% 10% 0 10%;
 line-height: 1.5;
 color: black;
}

/* Features Section */
.features-panel{
  text-align: center;
  margin: 5% 23%;
  border-radius: 1%;
  box-shadow: 0 0 10px #78DEC7;
  color: black;
  padding: 2%;
}

/* Pricing Section */
#pricing{
  font-size: 1.5rem;
  background-color: #FEF7DC;
  text-align: center;
}
.pricing-panels{
  padding: 5% 10%;
}

.price-btn{
  width: 100%;
}

.card-panel{
  margin: 2%;
}

.pricing-text{
  padding-top: 5%;
}
