body{
  font-family: "Montserrat";
}

h1{
  font-size: 2rem;
}

h5{
  font-size: 1.2rem;
  line-height: 1.5;
}

p{
line-height: 0;
color: grey;
}

li{
  margin: 0 20px;
  line-height: 1;
}

.navfont{
padding: 0 1%;
font-size: 2rem;
font-family: 'Patua One', cursive;
}

.home-car{
  background-color: #96BAFF;
  height: 500px;
  width: 100%;
}

.car-image{
height: 100%;
width: auto;
}

.panel{
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 60px;
  border-radius: 1%;
  box-shadow: 0 0 5px grey;

}

.title-panel{
  width: auto;
  color: black;

}

.right-panel{
  width: 40%;
  height: 40%;
  font-size: 1rem;
}

.left-panel{
  height: 40%;
  width: 40%;

}

.Enroll-btn{
  position: relative;
  left: auto;
  margin-bottom: 20px;

}
